
.main-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-evenly;
  list-style-type: none;
}

.cont {
  width: 60%;
  margin: 100px auto;
}