/* general styles */

.main-header {
  color: green;
  text-align: center;
}

.get-data-btn {
  background-color: #95d852;
  border: none;
  border-radius: 10px;
  color: rgb(36, 39, 43);
  padding: 10px 20px;
  font-size: 0.9em;
  cursor: pointer;
}

.get-data-btn:hover {
  background-color: chartreuse;
  color: black;
}

.books-wrapper {
  display: flex;
  align-items: center;
  width: 60%;
  max-width: 1024px;
  margin: 40px auto 10px;
}

.books-container,
.button-container {
  display: inline-block;
}

.books-container {
  width: fit-content;
  margin: auto;
}

.books-container {
  width: 60%;
  text-align: center;
}


.books-container {
  display: inline-flex;
  flex-direction: column;
}

.book-name {
  font-size: 0.9em;
  font-weight: 800;
  margin: 4px 10px;
}

.some-info {
  margin: auto;
  margin-top: 64px;
  border: 2px solid green;
  padding: 10px;
  width: 200px;
  max-width: 200px
}
